:focus {outline:none}

div.vue-select.vue-select-main {
    display: block;
    margin: 10px;
}
    
div.vue-select label.vue-select-label {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    font-weight: bold;
}
    
div.vue-select div.vue-select-control {
    display: inline-block;
    width: 84%;
    vertical-align: middle;
}
    
div.vue-select div.vue-select-control input {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
    
div.vue-select div.vue-select-control input:focus {
    border: 1px solid #4bd !important;
}

div.vue-select .chosen-select {
    width: 100%; 
}

div.vue-select .chosen-select-deselect {
    width: 100%; 
}

div.vue-select .chosen-container {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle; 
}

div.vue-select .chosen-container .chosen-drop {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: -9000px;
    z-index: 1060; 
}

div.vue-select .chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
    right: 0; 
}

div.vue-select .chosen-container .chosen-results {
    color: #555555;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
}

    
div.vue-select .chosen-container .chosen-results li {
    display: none;
    line-height: 1.42857;
    list-style: none;
    margin: 0;
    padding: 5px 6px; 
    color: black;
}
      
div.vue-select .chosen-container .chosen-results li em {
    background: #feffde;    
    font-style: normal; 
}
      
div.vue-select .chosen-container .chosen-results li.group-result {
    display: list-item;
    cursor: default;
    color: #999;
    font-weight: bold; 
}
      
div.vue-select .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
      
div.vue-select .chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: list-item; 
}
      
div.vue-select .chosen-container .chosen-results li.highlighted {
    background-color: #4bd;
    background-image: none;
}
        
div.vue-select .chosen-container .chosen-results li.highlighted em {
    background: transparent; 
}
      
div.vue-select .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #777777; 
}
    
div.vue-select .chosen-container .chosen-results .no-results {
    background: #eeeeee;
    display: list-item; 
}
  
div.vue-select .chosen-container .chosen-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px;
    z-index: 1; 
}
    
div.vue-select .chosen-container .chosen-results-scroll span {
    display: inline-block;
    height: 1.42857;
    text-indent: -5000px;
    width: 9px; 
}
  
div.vue-select .chosen-container .chosen-results-scroll-down {
    bottom: 0; 
}
    
div.vue-select .chosen-container .chosen-results-scroll-down span {
    background: url("node_modules/chosen-js/chosen-sprite.png") no-repeat -4px -3px; 
}
  
div.vue-select .chosen-container .chosen-results-scroll-up span {
    background: url("node_modules/chosen-js/chosen-sprite.png") no-repeat -22px -3px; 
}

div.vue-select .chosen-container-single .chosen-single {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    text-decoration: none;
}
  
div.vue-select .chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
  
div.vue-select .chosen-container-single .chosen-single abbr {
    background: url("node_modules/chosen-js/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 26px;
    top: 12px;
    width: 12px; 
}
    
div.vue-select .chosen-container-single .chosen-single abbr:hover {
    background-position: right -11px; 
}
  
div.vue-select .chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover {
    background-position: right 2px; 
}
  
.chosen-container-single .chosen-single div {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px; 
}
    
div.vue-select .chosen-container-single .chosen-single div b {
    background: url("node_modules/chosen-js/chosen-sprite.png") no-repeat 0 7px;
    display: block;
    height: 100%;
    width: 100%; 
}

div.vue-select .chosen-container-single .chosen-default {
    color: #777777; 
}

div.vue-select .chosen-container-single .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1000; 
}
  
div.vue-select .chosen-container-single .chosen-search input[type="text"] {
    background: url("node_modules/chosen-js/chosen-sprite.png") no-repeat 100% -20px, #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin: 1px 0;
    padding: 4px 20px 4px 4px;
    width: 100%; 
}

div.vue-select .chosen-container-single .chosen-drop {
    margin-top: -1px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; 
}


div.vue-select .chosen-container-single-nosearch .chosen-search input[type="text"] {
    position: absolute;
    left: -9000px; 
}


div.vue-select .chosen-container-multi .chosen-choices {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative; 
}
  
div.vue-select .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none; 
}
  
div.vue-select .chosen-container-multi .chosen-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap; 
}
    
div.vue-select .chosen-container-multi .chosen-choices .search-field input[type="text"] {
    background: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555555;
    height: 32px;
    margin: 0;
    padding: 4px;
    outline: 0; 
}
    
div.vue-select .chosen-container-multi .chosen-choices .search-field .default {
    color: #999; 
}
  
div.vue-select .chosen-container-multi .chosen-choices .search-choice {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, white 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 6px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative; 
}
    
div.vue-select .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: url("node_modules/chosen-js/chosen-sprite.png") right top no-repeat;
    display: block;
    font-size: 1px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 12px;
    cursor: pointer; 
}
      
div.vue-select .chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover {
    background-position: right -11px; 
}
  
div.vue-select .chosen-container-multi .chosen-choices .search-choice-focus {
    background: #d4d4d4; 
}
    
div.vue-select .chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close {
    background-position: right -11px; 
}

div.vue-select .chosen-container-multi .chosen-results {
    margin: 0 0 0 0;
    padding: 0; 
}

div.vue-select .chosen-container-multi .chosen-drop .result-selected {
    display: none; 
}


div.vue-select .chosen-container-active .chosen-single {
    border: 1px solid #4bd !important;
}

div.vue-select .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #4bd !important;
}
  
div.vue-select .chosen-container-active.chosen-with-drop .chosen-single div {
    background: transparent;
    border-left: none; 
}
    
div.vue-select .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px; 
}

div.vue-select .chosen-container-active .chosen-choices {
    border: 1px solid #4bd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
  
div.vue-select .chosen-container-active .chosen-choices .search-field input[type="text"] {
    color: #111 !important; 
}

div.vue-select .chosen-container-active.chosen-with-drop .chosen-choices {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
}


div.vue-select .chosen-disabled {
    cursor: default;
    opacity: 0.5 !important; 
}
  
div.vue-select .chosen-disabled .chosen-single {
    cursor: default; 
}
  
div.vue-select .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; 
}


div.vue-select .chosen-rtl {
    text-align: right; 
}
  
div.vue-select .chosen-rtl .chosen-single {
    padding: 0 8px 0 0;
    overflow: visible; 
}
    
div.vue-select .chosen-rtl .chosen-single span {
    margin-left: 26px;
    margin-right: 0;
    direction: rtl; 
}
    
div.vue-select .chosen-rtl .chosen-single div {
    left: 7px;
    right: auto; 
}
    
div.vue-select .chosen-rtl .chosen-single abbr {
    left: 26px;
    right: auto; 
}
  
div.vue-select .chosen-rtl .chosen-choices .search-field input[type="text"] {
    direction: rtl; 
}
  
div.vue-select .chosen-rtl .chosen-choices li {
    float: right; 
}
  
div.vue-select .chosen-rtl .chosen-choices .search-choice {
    margin: 6px 5px 3px 0;
    padding: 3px 5px 3px 19px; 
}
    
div.vue-select .chosen-rtl .chosen-choices .search-choice .search-choice-close {
    background-position: right top;
    left: 4px;
    right: auto; 
}
  
div.vue-select .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0; 
}
  
div.vue-select .chosen-rtl .chosen-results .group-option {
    padding-left: 0;
    padding-right: 15px; 
}
  
div.vue-select .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none; 
}
  
div.vue-select .chosen-rtl .chosen-search input[type="text"] {
    background: url("node_modules/chosen-js/chosen-sprite.png") no-repeat -28px -20px, #fff;
    direction: rtl;
    padding: 4px 5px 4px 20px; 
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
    div.vue-select .chosen-rtl .chosen-search input[type="text"],
    div.vue-select .chosen-container-single .chosen-single abbr,
    div.vue-select .chosen-container-single .chosen-single div b,
    div.vue-select .chosen-container-single .chosen-search input[type="text"],
    div.vue-select .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    div.vue-select .chosen-container .chosen-results-scroll-down span,
    div.vue-select .chosen-container .chosen-results-scroll-up span {
        background-image: url("node_modules/chosen-js/chosen-sprite@2x.png") !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important; 
    } 
}